/*Кастомные свойства*/
:root {
  --main-font: Cuprum, Arial, sans-serif;
  --basic-black: #000000;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --services-background: #F1F5F7;
  --white: #FFFFFF;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --glossy-orange: #FFC047;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --trends-header: #F9F5F0;
  --slider-header: rgba(0, 0, 0, 0.25);
  --catalog-header: #F2F6F8;
  --site-navigation: #32425C;
  --footer: #293449;
  --social-buttons: linear-gradient(0deg, #212A3A, #212A3A);
  --background-header: rgba(0, 0, 0, 0.0001);
  --border-phone-header: #F3F7F9;
  --old-price: #A9A9A9;
}

/*Глобальные настройки*/

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

/* Грид */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*Общие свойства*/

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Main header*/

.main-header {
  margin-bottom: 70px;
    outline: 5px solid rgba(0, 255, 0, 0.7);
    outline-offset: -5px;
}

/*Верхний логотип*/

.logo {
  outline: 5px solid yellow;
outline-offset: -5px;
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  width: 220px;
  height: 47px;
}
.main-header-logo {
  display: inline-block;
  margin-left: 55px;
  margin-top: 12px;
}

/*Нижний логотип*/

.logo-footer {
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  width: 220px;
  height: 68px;
}

.main-logo-footer {
  display: inline-block;
  margin-left: 41px;
  margin-top: 20px;
}

/*Меню навигации*/

.main-navigation {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-column: 1 / -1;
  background-color: var(--background-header);
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-navigation {
display: grid;
grid-template-columns: auto auto auto auto auto auto auto;
grid-column: 1 / -1;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--site-navigation);
  color: var(--white);

}

.site-navigation a {
  color: var(--white);
}
.site-navigation {
  list-style: none;
}

/*Шапка сайта*/

.text-header {
  font-family: var(--main-font);
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #EE3643
}

.phone-header {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #EE3643;
}

.address-header {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--site-navigation)
}

.login-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black)
}

.registration-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black)
}

.order-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background: var(--basic-green);
}

.profile-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--site-navigation);
}

.breadcrumbs {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

/*Блок преимуществ*/

.features-list {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  list-style: none;
  color: var(--white);
}

.features-item-materials {
  background: var(--special-yellow);
}

.features-item-tools {
  background-color: var(--special-blue);
}

.features-item-machines {
  background: var(--special-lilac);
}

.features-item-discounts {
  background: var(--special-lilac);
}

.features-item-machines {
  background: var(--special-lilac);
}

.features-item-discounts {
  background: var(--special-greenlight);
}

.features-item-shipping {
  background: var(--glossy-orange);
}

.features-button {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
}

/*Слайдер*/

.red-button {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background: var(--basic-red);
}

.gallery-header{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.gallery-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}


/*Заголовок популярные*/

.trends {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--site-navigation);
  background: var(--trends-header);
  text-transform: uppercase;
}

/*Карточки товаров*/

.catalog-header {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--site-navigation);
  background: var(--catalog-header);
  text-transform: uppercase;
}

.filter-product {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}



.old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--old-price);
}

.new-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background: var(--basic-red);
}

/*Пагинация*/

.pagination {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.pagination-active {
  background: var(--basic-red);
  color: var(--white);
}

/*Сервисы*/

.page-h2 {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color:  var(--basic-black: #000000);
}

.services-header {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--site-navigation);
}


/*Footer*/

.about-company {
  background-color: var(--site-navigation);
}

.about-company a {
  color: var(--white);
}

.bottom-navigation-list  {
  list-style: none;
}

.special-list  {
  list-style: none;
}

.contacts-address {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--border-phone-header);
}

.bottom-navigation-list {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--border-phone-header);
}

.special-list {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.special-list a {
  color: var(--special-yellowlight);
}

.footer-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.footer-link {
  color: var(--special-yellowlight);
}

.page-footer {
  background-color: var(--footer);
}
